---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑‍🚀 Hello, Welcome to IEEE SMVIT SB Blog Page!</h1>
			<p>
				Welcome to the official IEEE SMVIT Student Branch's Blog Page.
			</p>
			<p>
				IEEE is the world's largest professional association advancing innovation and technological excellence for the benefit of humanity. IEEE and its members inspire a global community to innovate for a better tomorrow through its highly-cited publications, conferences, technology standards, and professional and educational activities. IEEE is the trusted "voice" for engineering, computing and technology information around the globe. We, IEEE SMVIT, belong to the Region 10 of IEEE and under Bangalore section.
			</p>

			<p>SMVIT Student Branch: STB35861</p>
			
			<p>
				 If you want to contribute to the student branch by contributing a blog, then clone this repo and in the <code>content/blog</code> file make your blog contribution following the pattern.
				 Once you are done writing the blog, make a pull request and we will handle the further necessecities.
			</p>
			<p>
				Please mind the language being used in the blog content if you are contributing one.
				Happy Blogging!!
			</p>
		</main>
		<Footer />
	</body>
</html>
